<div class="blanknote-main">
    <div class="blanknote-product" data-ng-click="linkStuFn()">
        <img src="../../../app/assets/imgs/blacknote/blanknote-lhh.png" class="bg-img"/>
        <div class="item-wrapper">
            <div class="item-top">
                <div class="top-left">
                    <div class="itm-title">
                        <div class="title-img">
                            <img src="../../../app/assets/imgs/blacknote/lhh-icon.png"/>
                        </div>
                        <div class="title-text">零花花</div>
                    </div>
                    <div class="item-amount">
                        ¥<span>20,000</span>最高可借
                    </div>
                </div>
                <div class="top-right">
                    <div class="company-img">
                        <img src="../../../app/assets/imgs/blacknote/llq-icon.png"/>
                    </div>
                    <div class="item-hints">
                        <div class="hint-text">
                            * 年轻人可贷 *
                        </div>
                        <div class="hint-text">
                            * 首届免息 *
                        </div>
                        <div class="hint-text">
                            * 快速到账 *
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-bottom">
                <div class="bottom-left">
                    年轻人的信用钱包
                </div>
                <div class="bottom-right">立即取现 ></div>
            </div>
        </div>
    </div>
    <div class="blanknote-product" data-ng-click="linkGtFn()">
        <img src="../../../app/assets/imgs/blacknote/blanknote-byj.png" class="bg-img"/>
        <div class="item-wrapper">
            <div class="item-top">
                <div class="top-left">
                    <div class="itm-title">
                        <div class="title-img">
                            <img src="../../../app/assets/imgs/blacknote/byj-icon.png"/>
                        </div>
                        <div class="title-text">毕业金</div>
                    </div>
                    <div class="item-amount">
                        ¥<span>25,000</span>最高可借
                    </div>
                </div>
                <div class="top-right">
                    <div class="company-img">
                        <img src="../../../app/assets/imgs/blacknote/llq-icon.png"/>
                    </div>
                    <div class="item-hints">
                        <div class="hint-text">
                            * 超低服务费 *
                        </div>
                        <div class="hint-text">
                            * 超长分期 *
                        </div>
                        <div class="hint-text">
                            * 随借随取 *
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-bottom">
                <div class="bottom-left">
                    毕业生(含应届)可贷
                </div>
                <div class="bottom-right">立即取现 ></div>
            </div>
        </div>
    </div>
</div>