<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="setPayPassword.isVisible" z-index="590">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="setPayPassword.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <span>设置支付密码</span>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <li class="setting-table-cell security-hint">
            当前通讯手机为
            <span class="phone-number" data-ng-bind="showPhone"></span>
            ，若此号码无法接收信息，请前往绑定或者更换通讯手机号码，
            <span class="security-skip" data-ng-click="gotoBindPhone('set')">立即前往</span>
        </li>
        <li class="setting-table-cell" data-ng-if="setPayPassword.errorText">
            <div class="second-column">
                <div class="error-hint" data-ng-bind="setPayPassword.errorText"></div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">支付密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="setPayPassword.password"
                           placeholder="请输入6位支付密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">确认密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="setPayPassword.restNewWord"
                           placeholder="请再次输入支付密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">语音验证码</div>
                <div class="setting-left auth-code">
                    <input class="setting-input" type="tel" placeholder="请填写验证码" data-ng-model="setPayPassword.authCode"
                           ng-disabled="setPayPassword.btn.enable"/>
                </div>
                <div class="setting-right auth-code-btn">
                    <a class="nav-hint button-primary" ng-click="setPayPassword.getAuthCode()"
                       ng-disabled="!setPayPassword.btn.enable">
                        <span data-ng-bind="setPayPassword.btn.text"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column hint">
                <div class="setting-left hint">注意：支付密码为6位数字</div>
            </div>
        </li>
        <li>
            <sys-notice type="safe_voice_note"></sys-notice>
        </li>
    </ul>


    <button class="nav-hint single-row submit-btn" ng-click="setPayPassword.dialogSubmit()">
        确认
    </button>

</div>


<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="resetPayPassword.isVisible" z-index="590">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="resetPayPassword.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>修改支付密码</span>
            </div>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <li class="security-hint">
            当前通讯手机为
            <span class="phone-number" data-ng-bind="showPhone"></span>
            ，若此号码无法接收信息，请前往绑定或者更换通讯手机号码，
            <span class="security-skip" data-ng-click="gotoBindPhone('revise')">立即前往</span>
        </li>

        <li class="setting-table-cell" data-ng-if="resetPayPassword.errorText">
            <div class="second-column">
                <div class="error-hint" data-ng-bind="resetPayPassword.errorText"></div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">旧密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="resetPayPassword.oldPayPassword"
                           placeholder="请输入旧密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">新密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="resetPayPassword.newPayPassword"
                           placeholder="请输入新密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">确认密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="resetPayPassword.restNewWord"
                           placeholder="请再次输入新密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">语音验证码</div>
                <div class="setting-left auth-code">
                    <input class="setting-input" type="tel" placeholder="请填写验证码"
                           data-ng-model="resetPayPassword.authCode" ng-disabled="resetPayPassword.btn.enable"/>
                </div>
                <div class="setting-right auth-code-btn">
                    <a class="nav-hint button-primary" ng-click="resetPayPassword.getAuthCode()"
                       ng-disabled="!resetPayPassword.btn.enable">
                        <span data-ng-bind="resetPayPassword.btn.text"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column hint">
                <div class="setting-left hint">注意：支付密码为6位数字</div>
                <div class="setting-right forget-password" data-ng-click="forgetPayPassword.openDialog()">忘记支付密码？</div>
            </div>
        </li>
        <li>
            <sys-notice type="safe_voice_note"></sys-notice>
        </li>
    </ul>

    <button class="nav-hint single-row submit-btn" ng-click="resetPayPassword.dialogSubmit()">
        确认修改
    </button>


</div>


<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="forgetPayPassword.isVisible" z-index="590">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="forgetPayPassword.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>忘记支付密码</span>
            </div>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <li class="security-hint">
            当前通讯手机为
            <span class="phone-number" data-ng-bind="showPhone"></span>
            ，若此号码无法接收信息，请前往绑定或者更换通讯手机号码，
            <span class="security-skip" data-ng-click="gotoBindPhone('forget')">立即前往</span>
        </li>
        <li class="setting-table-cell" data-ng-if="forgetPayPassword.errorText">
            <div class="second-column">
                <div class="error-hint" data-ng-bind="forgetPayPassword.errorText"></div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">语音验证码</div>
                <div class="setting-left auth-code">
                    <input class="setting-input" type="tel" placeholder="请填写验证码"
                           data-ng-model="forgetPayPassword.authCode"
                           ng-disabled="forgetPayPassword.btn.enable"/>
                </div>
                <div class="setting-right auth-code-btn">
                    <a class="nav-hint button-primary" ng-click="forgetPayPassword.getAuthCode()"
                       ng-disabled="!forgetPayPassword.btn.enable">
                        <span data-ng-bind="forgetPayPassword.btn.text"></span>
                    </a>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">支付密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="forgetPayPassword.newPayPassword"
                           placeholder="请输入6位数字"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">确认密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="forgetPayPassword.restNewWord"
                           placeholder="请再次输入支付密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column hint">
                <div class="setting-left hint">注意：支付密码为6位数字</div>
            </div>
        </li>
        <li>
            <sys-notice type="safe_voice_note"></sys-notice>
        </li>
    </ul>

    <button class="nav-hint single-row submit-btn" ng-click="forgetPayPassword.dialogSubmit()">
        提交
    </button>


</div>