//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-default;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%); // IE9 only
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);

    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0); // IE9 only
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  z-index: $zindex-modal-default;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $white;
  border: 1px solid #999; //old browsers fallback (ie8 etc)
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;

  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); // iOS <4.3 & Android <4.1
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $backdrop-default;
  background-color: $black;
  // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: $modal-backdrop-opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-title-padding;
  //border-bottom: 1px solid $modal-header-border-color;
  min-height: ($modal-title-padding + $modal-title-line-height);
  text-align: center;
}

// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: 0 10px 10px;
  p {
    margin-top: 0;
  }
}

// Footer (for actions)
.modal-footer {
  //padding: $modal-inner-padding;
  //text-align: right; // right align buttons
  border-top: 1px solid #e5e5e5;
  @include flexBox();
  @include flexDirectionRow();

  //@include clearfix();

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
  .nav-hint {
    &.button-default {
      flex: 1;
      border: none;
      &:nth-child(2) {
        border-left: 1px solid $base-border-color;
      }
    }
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Automatically set modal's width for larger viewports
.modal-dialog {
  width: 300px;
  margin: 30px auto;
}

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


