<ol class="goods-list mybill-main myCoupon-main" data-ng-cloak>
    <li class="goods-item myCoupon-item" data-ng-repeat="item in items">
        <!--<img src="../../../app/assets/imgs/profile/myCoupon-bg2.png">-->

        <div class="item-left is-used">
            <div class="item-typeText" data-ng-bind="item.shopName"></div>
            ¥<span class="item-amount" data-ng-bind="item.amount | numShortHand"></span>

            <div class="item-status" data-ng-bind="item.status | couponStatus"></div>
        </div>
        <div class="item-right">
            <div class="item-name" data-ng-bind="item.name"></div>
            <div class="item-rules">
                <div class="rule-amount" data-ng-if="item.rule">
                    <div>*<span data-ng-bind="item.rule"></span></div>
                </div>
                <div class="rule-amount" data-ng-if="item.description">
                    <div>*<span data-ng-bind="item.description"></span></div>
                </div>
            </div>
            <div class="item-date coupon-used">
                *有效期：<span data-ng-bind="item.beginTime | dateFormat:'yyyy-MM-dd'"></span>
                ～
                <span data-ng-bind="item.endTime | dateFormat:'yyyy-MM-dd'"></span>
            </div>
        </div>
    </li>
</ol>