<div class="profile-main profile-main-show-header" data-ng-cloak>

    <ul class="setting-table">
        <li class="setting-table-cell">
            <div class="second-column head-photo">
                <div class="setting-left">头像</div>
                <div class="setting-right">
                    <i><img width="100%" src="../../assets/imgs/profile/userlogo.png"/></i>
                </div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">ID</div>
                <div class="setting-right"><span data-ng-bind="data.user.id"></span></div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">姓名</div>
                <div class="setting-right"><span data-ng-bind="data.user.name"></span></div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">职位</div>
                <div class="setting-right"><span data-ng-bind="data.title"></span></div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">手机</div>
                <div class="setting-right"><span data-ng-bind="data.user.phone"></span></div>

            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">身份证</div>
                <div class="setting-right"><span data-ng-bind="data.user.identityNo"></span></div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">QQ</div>
                <div class="setting-right"><span data-ng-bind="data.myQQ"></span></div>
            </div>
        </li>

        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left">微信</div>
                <div class="setting-right"><span data-ng-bind="data.weixinNo"></span></div>
            </div>
        </li>
    </ul>


</div>
