<img class="goods-img-thumbnail" data-ng-src="{{item.productPic | filterImg : '@!200x200'}}" alt="">

<div class="goods-desc">
    <div class="goods-title" data-ng-bind="item.title"></div>
    <div class="goods-subtitle">
        <div class="goods-text-all">
            <span class="goods-text-gray" data-ng-bind="item.productSkuName"></span>
        </div>
    </div>
    <div class="goods-subtitle">
        <div class="goods-text-left">
            <span>单价：</span>
            <span data-ng-bind="item.productPrice | moneyFixed"></span>
        </div>
        <div class="goods-text-right">
            <span>数量：</span>
            <span data-ng-bind="item.productCount"></span>
        </div>
    </div>
</div>
