<div class="profile-main security-main profile-main-show-header" data-ng-cloak>

    <ul class="setting-table">

        <li class="setting-table-cell">
            <a ng-click="gotoUrl('/profile/setting/us')">
                <div class="second-column">
                    <div class="setting-left">关于零零期</div>
                    <span class="iconfont icon-right-arrow"></span>
                </div>
            </a>
        </li>

        <li class="setting-table-cell">
            <a ng-click="gotoUrl('/profile/setting/service')">
                <div class="second-column">
                    <div class="setting-left">服务条款</div>
                    <span class="iconfont icon-right-arrow"></span>
                </div>
            </a>
        </li>

        <li class="setting-table-cell">
            <a ng-click="gotoUrl('/profile/setting/connectus')">
                <div class="second-column">
                    <div class="setting-left">联系我们</div>
                    <span class="iconfont icon-right-arrow"></span>
                </div>
            </a>
        </li>
    </ul>

</div>
