<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="bankCardList.isVisible" z-index="560">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="bankCardList.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>选择银行卡</span>
            </div>
        </div>
        <div class="ui-header-bar-right-icon">
            <div class="ui-header-btn" ng-click="bankCardListEdit.openDialog()">编辑</div>
        </div>
    </div>

    <div class="dialog-content card-main ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">

        <ul class="setting-table" ng-if="isCardListEmpty()">
            <li class="setting-table-cell add-card">
                <div class="second-column" data-ng-click="checkUserAuth()">
                    +
                </div>
            </li>
        </ul>

        <ul class="setting-table" ng-if="!isCardListEmpty()">
            <li class="setting-table-cell" data-ng-repeat="item in cardList"
                ng-style="{'background-color':item.banner.sideColor}">
                <div class="second-column" data-ng-click="bankCardList.selected(item)">
                    <div class="cardImg">
                        <img data-ng-src="{{item.banner.imgUrl}}" class="bankCardImg">
                    </div>
                    <div class="cardText">
                        <div class="bankCardName" data-ng-bind="item.bankName"></div>
                        <div class="bankCardStyle">储蓄卡</div>
                        <div class="bankCardNo" data-ng-bind="item.cardNo"></div>
                    </div>
                    <div class="bankCardState">
                        <span data-ng-bind="item.cardStateStr"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="bankCardListEdit.isVisible" z-index="561">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="bankCardListEdit.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>编辑银行卡</span>
            </div>
        </div>
        <div class="ui-header-bar-right-icon">
        </div>
    </div>

    <div class="dialog-content fix-bottom-btn card-main ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">

        <ul class="setting-table" ng-if="isCardListEmpty()">
            <li class="setting-table-cell add-card">
                <div class="second-column" data-ng-click="addCardDialog.openDialog()">
                    +
                </div>
            </li>
        </ul>

        <ul class="setting-table" ng-if="!isCardListEmpty()">
            <li class="setting-table-cell" data-ng-repeat="item in cardList"
                ng-style="{'background-color':item.banner.sideColor}">
                <div class="second-column" data-ng-click="showCardDialog.openDialog(item)">
                    <div class="cardImg">
                        <img src="{{item.banner.imgUrl}}" class="bankCardImg">
                    </div>
                    <div class="cardText">
                        <div class="bankCardName">{{item.bankName}}</div>
                        <div class="bankCardStyle">储蓄卡</div>
                        <div class="bankCardNo">{{item.cardNo}}</div>
                    </div>
                    <div class="bankCardState">
                        <span>{{item.cardStateStr}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--跳转-->
    <div class="dialog-bottom-btn-wrapper">
        <button class="nav-hint single-row submit-btn"
                ng-click="addCardDialog.openDialog()"
                ng-disabled="hasBindCard">
            <span data-ng-bind="(hasBindCard)?'已添加':'新增银行卡'"></span>
        </button>
    </div>
</div>

<!--银行卡绑定界面-->
<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="addCardDialog.isVisible" z-index="571">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="addCardDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>新增银行卡</span>
            </div>
        </div>

        <div class="ui-header-bar-right-icon">
        </div>
    </div>

    <div class="dialog-content fix-bottom-btn add-card-main ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <ul class="setting-table">
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">开户人</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="text" readonly="readonly" placeholder="开户人姓名"
                               data-ng-model="userInfo.name"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">开户银行</div>
                    <div class="setting-left desc" data-ng-click="bankDialog.openDialog()">
                        <input class="setting-input" type="text" readonly="readonly" placeholder="请选择开户行"
                               data-ng-model="addCardDialog.item.bankName"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">银行卡号</div>
                    <div class="setting-left desc">
                        <input id="idCardNoInput" class="setting-input" type="tel" placeholder="请填写银行卡号"
                               data-ng-focus="addCardDialog.onFocus()" data-ng-blur="addCardDialog.onBlur()"
                               data-ng-change="addCardDialog.onChange()"
                               data-ng-model="addCardDialog.item.cardNo"/>
                    </div>
                    <div class="setting-right scan-card" ng-if="addCardDialog.canScan" data-ng-click="addCardDialog.scan()">
                        <i class="iconfont icon-scan"></i>
                    </div>
                </div>
                <div class="big-card-show" data-ng-if="addCardDialog.showBigCardNo" data-ng-bind="addCardDialog.bigCardNo"></div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">身份证</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="text" readonly="readonly" placeholder="身份证，请先通过V1认证"
                               data-ng-model="userInfo.idNo"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">手机号码</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="tel" readonly="readonly" placeholder="银行卡绑定的手机号码"
                               data-ng-model="userInfo.phone"/>
                    </div>
                </div>
            </li>

        </ul>

        <sys-notice type="bind_card_note" class=""></sys-notice>

    </div>

    <div class="dialog-bottom-btn-wrapper">
        <button class="nav-hint single-row submit-btn" ng-click="addCardDialog.bind()"
                ng-disabled="lockBindBtn">
            绑定
        </button>
    </div>

</div>

<!-- 展示银行卡信息 -->
<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="showCardDialog.isVisible" z-index="572">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="showCardDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>银行卡信息</span>
            </div>
        </div>

        <div class="ui-header-bar-right-icon">
        </div>
    </div>

    <div class="dialog-content fix-bottom-btn ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <ul class="setting-table">
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">开户人</div>
                    <div class="setting-left desc">
                        {{userInfo.name}}
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">开户银行</div>
                    <div class="setting-left desc">
                        {{showCardDialog.item.bankName}}
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">银行卡号</div>
                    <div class="setting-left desc">
                        {{showCardDialog.item.cardNo}}
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">身份证</div>
                    <div class="setting-left desc">
                        {{userInfo.idNo}}
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">手机号码</div>
                    <div class="setting-left desc">
                        {{userInfo.phone}}
                    </div>
                </div>
            </li>

        </ul>


    </div>

    <div class="dialog-bottom-btn-wrapper">
        <button class="nav-hint single-row submit-btn" ng-click="showCardDialog.unbind()"
                ng-disabled="!showCardDialog.canUnbind()">
            <span data-ng-bind="(showCardDialog.canUnbind())?'解除绑定':'确认中'"></span>
        </button>
    </div>

</div>


<!--银行列表-->
<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="bankDialog.isVisible" z-index="582">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="bankDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>选择开户银行</span>
            </div>
        </div>

        <div class="ui-header-bar-right-icon">
        </div>
    </div>

    <div class="dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <ul class="setting-table">
            <li class="setting-table-cell" data-ng-repeat="item in bankDialog.items"
                data-ng-click="bankDialog.selectBank(item)">
                <div class="second-column">
                    <div class="setting-left select-icon">
                        <img src="{{item.banner.imgUrl}}" class="selectBankCardImg">
                        <span class="iconfont icon-collection" data-ng-if="bankDialog.checkSelected(item)"></span>
                    </div>
                    <div class="setting-left selectBankName" data-ng-bind="item.bankName"></div>
                </div>
            </li>
        </ul>
    </div>

</div>