<div class="profile-main security-main profile-main-show-header">
    <ul class="setting-table">
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">旧密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="password.data.oraPassword"
                           placeholder="请输入旧密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">新密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="password.data.newPassword"
                           placeholder="请输入新密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left title">确认密码</div>
                <div class="setting-left desc">
                    <input class="setting-input" type="password" data-ng-model="password.data.confirmPassword"
                           placeholder="请再次输入新密码"/>
                </div>
            </div>
        </li>
        <li class="setting-table-cell">
            <div class="second-column">
                <div class="setting-left hint">注意：密码为8-20位数字和字符</div>
            </div>
        </li>
    </ul>

    <button class="nav-hint single-row submit-btn" ng-click="password.dialogSubmit('password')">
        确认修改
    </button>

</div>