<div class="block-brief">

    <div class="block-content">

        <div class="block-content-inner grid-row">
            <div class="grid-item flex4" data-ng-click="gotoNav(item.items[0].href)">
                <img data-ng-src="{{item.items[0].imgUrl | fixImage}}" class="block-image-no-padding" />
            </div>
            <div class="grid-item flex6">
                <div class="grid-column">
                    <div class="grid-item" data-ng-click="gotoNav(item.items[1].href)">
                        <img data-ng-src="{{item.items[1].imgUrl | fixImage}}" class="block-image-no-padding" />
                    </div>
                    <div class="grid-item">
                        <div class="grid-row">
                            <div class="grid-item" data-ng-click="gotoNav(item.items[2].href)">
                                <img data-ng-src="{{item.items[2].imgUrl | fixImage}}" class="block-image-no-padding" />
                            </div>
                            <div class="grid-item" data-ng-click="gotoNav(item.items[3].href)">
                                <img data-ng-src="{{item.items[3].imgUrl | fixImage}}" class="block-image-no-padding" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>