<div class="block-brief">

    <div class="block-title">
        <div class="block-title-bg"><div class="bg"></div></div>
        <div class="block-text-center"><span class="title" data-ng-class="item.titleCls"><i class="iconfont"></i>{{item.title}}</span></div>
        <div class="block-text-right"ng-click="gotoMore(item.moreUrl)">
            <span>更多</span><span class="iconfont icon-right more-arrow"></span>
        </div>
    </div>

    <div class="block-content">

        <div class="block-content-inner grid-row">
            <div class="grid-item border-right flex4" ng-click="gotoProductDetail(item.blocks[0].productId,item.blocks[0].promotionId,'aging')">
                <img data-ng-src="{{item.blocks[0].mainProImgUrl | filterImg : '@!300x300'}}" class="block-image large" />
                <div class="block-text title large">{{item.blocks[0].name}}</div>
                <div class="block-text center large">
                    <span class="goods-text-gray goods-text-small">月供</span>
                    <span class="goods-text-warn">{{item.blocks[0].defaultEveryAmount | moneyFixed}}</span>
                    <span class="period goods-text-gray">x{{item.blocks[0].defaultPeriod}}</span>
                </div>
                <div class="block-text center large">
                    <span class="goods-text-gray"> {{item.blocks[0].proSkuPrice | moneyFixed}}</span>
                    <span class="goods-text-gray goods-text-small goods-text-delete" style="margin-left: 5px;">{{item.blocks[0].marketPrice | moneyFixed}}</span>
                </div>
            </div>
            <div class="grid-item flex6">
                <div class="grid-column">
                    <div class="grid-item border-bottom">
                        <div class="grid-row">
                            <div class="grid-item border-right" ng-click="gotoProductDetail(item.blocks[1].productId,item.blocks[1].promotionId,'aging')">
                                <img data-ng-src="{{item.blocks[1].mainProImgUrl | filterImg : '@!200x200'}}" class="block-image small" />
                                <div class="block-text title small">{{item.blocks[1].name}}</div>
                                <div class="block-text center small">
                                    <span class="goods-text-warn">{{item.blocks[1].defaultEveryAmount | moneyFixed}}</span>
                                    <span class="period goods-text-gray">x{{item.blocks[1].defaultPeriod}}</span>
                                </div>
                            </div>
                            <div class="grid-item" ng-click="gotoProductDetail(item.blocks[2].productId,item.blocks[2].promotionId,'aging')">
                                <img data-ng-src="{{item.blocks[2].mainProImgUrl | filterImg : '@!200x200'}}" class="block-image small" />
                                <div class="block-text title small">{{item.blocks[2].name}}</div>
                                <div class="block-text center small">
                                    <span class="goods-text-warn">{{item.blocks[2].defaultEveryAmount | moneyFixed}}</span>
                                    <span class="period goods-text-gray">x{{item.blocks[2].defaultPeriod}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid-row">
                            <div class="grid-item border-right" ng-click="gotoProductDetail(item.blocks[3].productId,item.blocks[3].promotionId,'aging')">
                                <img data-ng-src="{{item.blocks[3].mainProImgUrl | filterImg : '@!200x200'}}" class="block-image small" />
                                <div class="block-text title small">{{item.blocks[3].name}}</div>
                                <div class="block-text center small">
                                    <span class="goods-text-warn">{{item.blocks[3].defaultEveryAmount | moneyFixed}}</span>
                                    <span class="period goods-text-gray">x{{item.blocks[3].defaultPeriod}}</span>
                                </div>
                            </div>
                            <div class="grid-item" ng-click="gotoProductDetail(item.blocks[4].productId,item.blocks[4].promotionId,'aging')">
                                <img data-ng-src="{{item.blocks[4].mainProImgUrl | filterImg : '@!200x200'}}" class="block-image small" />
                                <div class="block-text title small">{{item.blocks[4].name}}</div>
                                <div class="block-text center small">
                                    <span class="goods-text-warn">{{item.blocks[4].defaultEveryAmount | moneyFixed}}</span>
                                    <span class="period goods-text-gray">x{{item.blocks[4].defaultPeriod}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>