<article class="profile-category" data-scroll-loader="loadItems();" type="both" data-can-load="canLoad" threshold="200"
         data-before-pull-to-refresh="reload();" data-finish-msg="getMsg();">

    <div data-ng-include="isAbnormal ? 'screens/groupBuying/views/myOrder-receive-normal-tpl.html' : 'screens/groupBuying/views/myOrder-abnormal-tpl.html'"></div>

</article>

<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="traceDialog.isVisible" z-index="560">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="traceDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <span>物流跟踪</span>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <li class="setting-table-cell" data-ng-if="!hasTraceItems">
            <div class="second-column">
                <div class="setting-left">
                    <span class="trace-title">物流信息：</span>
                    <span>{{traceDialog.traceInfo.expressCompanyName}} {{traceDialog.traceInfo.deliveryNo}}</span>
                </div>
            </div>
        </li>
        <li class="setting-table-cell" data-ng-repeat="item in traceDialog.traceInfo.trace.traces" data-ng-if="traceDialog.hasTraceItems">
            <div class="second-column">
                <div class="trace-text" data-ng-class="{'with-first': $index==0}">
                    <span data-ng-bind="item.acceptStation"></span>
                </div>
                <div class="trace-time" data-ng-class="{'with-first': $index==0}">
                    <span data-ng-bind="item.acceptTime"></span>
                </div>
            </div>
        </li>
        <li class="setting-table-cell" data-ng-if="!hasTraceItems">
            <div class="second-column">
                <div class="setting-left">
                    <span>暂无物流信息，请登录物流公司官网查询。</span>
                </div>
            </div>
        </li>
    </ul>

</div>
