<data-route-tabs class="ui-tabs-top profile-main-show-header mygroupon-tab" data-configs="configs"
                 data-template-url="components/route-tabs/views/top-menu-tpl.html">
</data-route-tabs>
<section class="ui-tabs-top-placeholder"></section>
<data-ui-view></data-ui-view>

<div class="button-bottom">
    <div class="home-page" data-ng-click="gotoMain()">
        <span class="iconfont icon-enter-before"></span>
        <span class="button-text">拼团首页</span>
    </div>
    <div class="groupon-user" style="color:#ff9600" data-ng-click="backToTop()">
        <span class="iconfont icon-order-active"></span>
        <span class="button-text">我的拼团</span>
    </div>
</div>