<div class="groupon-rule">
    <div class="grounpon-rule-main">
        <img src="../../../app/assets/imgs/groupon/image_ptgrules.png" class="rule-img-desc">
    </div>

    <div class="rule-container">
        <div class="ptrule-bg">
            <img src="../../../app/assets/imgs/groupon/image_ptgrules_bgpaper.png" class="ptrule-bg">
        </div>
        <div class="rule-content">
            <div class="rule-title">
                <img src="../../../app/assets/imgs/groupon/imgae_ptgrules_title.png">
            </div>

            <div class="content">
                <sys-notice type="pt_play_rule"></sys-notice>
            </div>
        </div>
    </div>
</div>