.blanknote-main {
  width: 100%;
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: $header-height;
  bottom: $nav-height;
  left: 0;
  right: 0;
  z-index: $zindex-login;
  background: $base-background-color;

  .title.quota-count-text {
    color: $brand-danger;
    font-size: $font-size-base;
    line-height: 35px;
    height: 35px;
    .icon-prompt {
      font-size: $font-size-xxl;
      margin-right: 5px;

    }
  }
  .blanknote-quota {
    width: 100%;
    height: 60px;
    line-height: 45px;
    margin-top: 2px;
    text-align: center;
    font-size: $font-size-large;
    display: flex;
    flex-direction: row;
    background: #F2F1F1;
    .blanknote-amount {
      padding: 0 10px;
      flex: 1;
      border: 1px solid #e6e6e6;
      background-color: white;
      margin: 0 10px;
      box-shadow: 3px 6px 6px #E5E5E5;
      .blanknote-limit {
        margin-bottom: -25px;
      }
      .blanknote-value {
        color: #7DDCFC;
      }
    }
  }

  .quota-wrapper {
    width: 100%;
    background-color: $white;
    padding: 5px 15px;
    margin: 5px 0;
    .quota-title {
      width: 100%;
      font-size: $font-size-base;
      color: $base-text-color2;
      height: 20px;
      line-height: 20px;
    }
    .quota-all {
      width: 100%;
      height: 30px;
      line-height: 30px;
      .all-amount {
        font-size: 25px;
        color: $base-text-color;
      }
      .quota-btn {
        font-size: $font-size-base;
        margin-left: 10px;
        img {
          width: 12px;
        }
        .btn-text {
          color: $base-color;
        }
      }
    }
    .quota-remaining {
      width: 100%;
      font-size: $font-size-base;
      color: $base-text-color2;
      .remaining-amount {
        color: $base-text-color;
        margin-left: 10px;
      }
    }
  }
  .broduct-banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .blanknote-product {
    width: 100%;
    position: relative;
    padding: 10px 5%;
    .bg-img {
      width: 100%;
    }
    .item-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px 8% 0;
      .item-top {
        @include flexBox();
        @include flexDirectionRow();
        .top-left {
          @include flex(2);
          .itm-title {
            width: 100%;
            height: 30px;;
            @include flexBox();
            @include flexDirectionRow();
            .title-img {
              width: 30px;
              margin-right: 10px;
              img {
                width: 100%;
              }
            }
            .title-text {
              font-size: 18px;
              color: $black;
              line-height: 30px;
            }
          }
          .item-amount {
            font-size: 17px;
            padding: 24px 0 10px;
            span {
              font-size: 30px;
            }
          }
        }
        .top-right {
          @include flex(1);
          @include flexBox();
          @include flexDirectionColumn();
          .company-img {
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
            img {
              width: 68px;
            }
          }
          .item-hints {
            @include flex(1);
            @include flexBox();
            @include flexDirectionColumn();
            @include flexJustify(space-between);
            text-align: center;
            .hint-text {
              color: $base-text-color;
              font-size: $font-size-base;
              line-height: 18px;
            }
          }
        }
      }
      .item-bottom {
        position: absolute;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        bottom: 15%;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        padding: 0 10px;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.3);
        color: #555555;
        @include flexBox();
        @include flexDirectionRow();
        .bottom-left {
          @include flex(1);
          text-align: left;
          font-size: $font-size-xl;
        }
        .bottom-right {
          @include flex(1);
          text-align: right;
          font-size: $font-size-base;
        }
      }
    }
  }

  &.blanknote-productPre {
    bottom: 0;
    .blanknote-banner {
      position: relative;
      width: 100%;
      height: auto;
      .banner-img {
        width: 100%;
      }
      .blanknote-top {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 15px 5%;
        color: $white;
        .blanknote-quotas {
          width: 80%;
          margin: 0 auto;
          border: 1px solid rgba(255, 255, 255, 0.4);
          text-align: center;
          height: 25px;
          line-height: 25px;
          font-size: $font-size-base;
          border-radius: 25px;
        }
        .blanknote-loan {
          font-size: $font-size-base;
          margin: 5px 0;
          .loan-name {
            height: 20px;
            line-height: 20px;
          }
          .loan-amount {
            height: 30px;
            font-size: $font-size-large;
            .amount {
              margin-left: 5px;
              font-size: 30px;
            }
          }
        }
        .loan-operation {
          width: 100%;
          height: 40px;
          margin-top: 20px;
          text-align: left;
          .amount-roll {
            width: 100%;
            height: 12px;
            background-color: #f5d29d;
            border-radius: 12px;
            position: relative;
            border: 2px solid $base-border-color;
            .roll-loan {
              position: absolute;
              left: 0;
              top: 0;
              width: 80%;
              height: 100%;
              background-color: $base-color;
              border-radius: 12px;
            }
            .roll-img {
              position: absolute;
              width: 17px;
              height: 17px;
              background-image: url("../../../app/assets/imgs/blacknote/roll-img.png");
              background-size: 100% 100%;
              top: -4px;
              left: 80%;
              margin-left: -8px;
            }
          }
          .roll-amountList {
            color: white;
            width: 100%;
            position: relative;
            margin: 8px auto;
            height: 20px;
            line-height: 20px;
            span {
              position: absolute;
            }
          }
        }
      }
    }

    .blanknote-block {
      width: 100%;
      margin-top: 5px;
      background-color: $white;
      padding: 10px 15px;
      border-bottom: 1px solid $base-border-color;
      .block-name {
        font-size: $font-size-xl;
        color: $base-text-color2;
      }
      .instalment-month {
        width: 100%;
        padding-top: 10px;
        @include flexBox();
        @include flexDirectionRow();
        @include flexWrap(wrap);
        @include flexJustify(space-between);

        .item-month {
          padding: 0 15px;
          height: 27px;
          line-height: 27px;
          text-align: center;
          background-color: $base-background-color;
          border-radius: 2px;
          color: $base-text-color2;
          &.active {
            background-color: $base-color;
            color: $white;
          }
        }
      }
    }

    .setting-table {
      .setting-table-cell {
        .second-column {
          .setting-left {
            color: $base-text-color2;
          }
          .setting-right {
            font-size: $font-size-base;
            &.amount {
              padding-right: 25px;
              span {
                color: $base-text-color;
              }
            }
            span {
              color: $base-color;
              font-size: $font-size-xl;
              margin-right: 5px;
            }
          }
        }
      }

      .blanknote-block {
        .instalment-month {
          @include flexJustify(start);
          .item-month {
            margin-right: 10px;
          }
        }
      }
    }
  }

}

.blanknote-bottom-btn-wrapper {
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-content;
  background-color: #FFFFFF;
  border: 0 none;
  text-align: center;
  .nav-hint {
    &.single-row {
      margin: 0;
      width: 30%;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0;
      border-radius: 0;
      float: right;
      span {
        top: 0;
        padding: 0;
        margin: 0;
      }
    }
    .submit-btn {
      background-color: $base-color;
    }
  }
  .blanknote-bottom {
    padding-left: 20px;
    padding-top: 10px;
    .repay {
      font-size: 16px;
      color: $base-color;
    }
    .anonymity-box {
      width: 15px;
      height: 15px;
      position: relative;
      top: 3px;
      left: 5px;
    }
  }

}

.instructor-dialog {
  .setting-table {
    .setting-table-cell {
      .second-column {
        .headTeacher {
          line-height: 20px;
          margin: 5px 0;
        }
      }
    }
    .quota-hint {
      color: $base-color;
    }
    .second-column {
      .setting-left {
        &.auth-code {
          width: 70%;
          padding-right: 120px;
        }
        &.img-code-text {
          width: 70%;
          padding-right: 120px;
        }
        &.contact-input {
          width: 65%;
        }
      }
      .setting-right {
        &.img-code-img {
          width: 80px;
          height: 30px;
          margin-right: 20px;
          position: absolute;
          right: 0;
          margin-top: 10px;
          padding: 0;
        }

        &.auth-code-btn {
          position: absolute;
          right: 0;
        }

        &.contact-btn {
          position: absolute;
          right: 0;
        }

        .nav-hint {
          border: 0 none;
        }
      }
    }
    .one-column {
      color: #333;
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
      zoom: 1;
      border-bottom: 1px solid #d9d9d9;

      .setting-left {
        float: left;
      }
      .setting-right {
        float: right;
      }

      .description {
        p {
          margin: 0px;
          padding: 0px;
          height: 60px;
          line-height: 60px;
        }
      }
    }

    .icon-right {
      &.icon-checked {
        color: $brand-primary;
      }
    }
  }
}

.blanknote-banner {
  @include clearfix();

  background-size: 100% 100%;
  height: auto;
  width: 100%;
  background-position: center center;
}

.blanknote-money {
  margin-top: 5px;
  background: $white;
  overflow: hidden;

  .title {
    font-size: $font-size-xl;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    color: #BBBBBB;
    .left-text {
      float: left;
    }

    .right-text {
      float: right;
      color: $base-color;
      font-size: 14px;
      .iconfont {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  .money-item-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 5px 10px 10px;

    .money-row {
      width: 100%;
    }

    .use-wrapper {
      width: 25%;
      padding: 0 5px;
      float: left;
    }

    .use-item {
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid $base-border-color;
      border-radius: 2px;
      margin-bottom: 10px;

      &.selected {
        border: 1px solid $base-color;
        background-color: $base-color;
        color: $white;
      }

      &.more-item {
        background-color: $base-background-color;
      }
    }

    .money-wrapper {
      width: 33.33333333%;
      padding: 0 5px;
      float: left;
    }
    .money-over {
      background: $base-background-color;
      color: $base-text-color2;
    }

    .money-item {
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid $base-border-color;
      border-radius: 5px;
      margin-bottom: 10px;

      &.selected {
        border: 1px solid $base-color;
        color: $base-color;
      }

      &.more-item {
        background-color: $base-background-color;
      }
    }

  }
  .money-wrapper-forbid {
    background: $base-text-color2;
  }
}

.blanknote-contract {
  font-size: $font-size-xl;
  line-height: 40px;
  padding: 0 20px;
}

.blanknote-aging {

  background: $white;
  position: relative;
  margin-top: 5px;

  .coupon-brand {
    width: 25px;
    position: relative;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    left: -5px;
    top: 5px;
    margin-right: 9px;
  }
  .title {
    font-size: $font-size-xl;
    line-height: 40px;
    padding-left: 15px;
    .detail {
      font-size: $font-size-base;
    }

  }
  .content {
    font-size: $font-size-base;
    line-height: 20px;
    padding: 0 20px 10px;
  }
  .text-right,
  .icon-right-arrow {
    float: right;
    padding-right: 10px;
    line-height: 40px;
    color: $base-text-color;
    position: absolute;
    top: 0;

  }

  .text-right {
    font-size: $font-size-xl;
    right: 20px;
  }

  .icon-right-arrow {
    font-size: 18px;
    right: 0;
  }

  .repay {
    color: $base-color;
  }
}

.blanknote-desc {
  font-size: $font-size-base;
}

.weixin-code {
  @include bg-image('../assets/blanknote/weixin-code.jpg', '../assets/blanknote/weixin-code.jpg', 200px);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.blanknote-btn {
  .nav-hint {
    padding: 15px;
  }
}

.blanknote-help {
  margin-top: 10px;
}

.blanknote-help2 {
  margin: 10px 15px;
}

//运营商认证
.servicepsd {
  background: white !important;
  .service-mobile-desc {
    border-bottom: 1px solid lightgray;
    padding-left: 20px
  }

  .setting-input {
    height: 45px;
    font-size: $font-size-xl;
    color: black !important;
    line-height: 40px;
    input {
      border: 0 none;
      background: white;
    }
  }

  .service-psd-warn {
    border-bottom: 1px solid lightgray;
    line-height: 30px;
    padding-left: 20px;
    color: $brand-danger;
    .icon-warn {
      margin-right: 10px;
    }
  }
  .service-help {
    padding-left: 10px;
    p {
      margin: 0;

      .icon-star-color {
        font-size: $font-size-xl;
        color: $brand-danger;
        margin-right: 5px;
      }
    }
  }
}

.Scoupon-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: inline-block;

  .Scoupon-item {
    width: 30%;
    background: $white;
    margin: 5px;
    float: left;
    .Scoupon-left {
      position: relative;
      width: 100%;
      .Scoupon-img {
        width: 100%;
        height: 50px;
      }
      .Scoupon-money {
        text-align: center;
        width: 100%;
        font-size: 18px;
        line-height: 50px;
        position: absolute;
        top: 0;
        &.withdrawal {
          color: #2c7cd9;
        }

        &.instalments {
          color: #ff4672;
        }

        .Scoupon-money-sign {
          font-size: $font-size-xs;
        }
      }
    }

  }
}

.ui-dialog {
  &.success-dialog {
    .setting-table {
      padding-top: 0;
    }
    .success-top {
      @include flexBox();
      @include flexDirectionRow();
      background-color: $white;
      padding: 15px 0;
      .left-image {
        @include flex(1);
        padding-left: 10px;
        img {
          width: 70%;
        }
      }
      .right-text {
        @include flex(4);
        padding-right: 20px;
        .top-title {
          font-size: $font-size-xl;
          color: $black;
          margin-bottom: 5px;
        }
        .top-text {
          font-size: $font-size-base;
          color: $base-text-color2;
          .text-hint {
            color: $brand-danger;
          }
        }
      }
    }
    .success-activity {
      @include flexBox();
      @include flexDirectionRow();
      @include flexJustify(center);
      height: 50px;
      line-height: 50px;
      .activity-line {
        background-color: $black;
        width: 15px;
        height: 2px;
        margin: 24px 10px;
      }
      .activity-name {
        color: $black;
        font-size: $font-size-xl;
      }
    }
    .activty-product {
      width: 100%;
      height: 110px;
      padding: 10px;
      background-color: $white;
      .product-img {
        width: 25%;
        float: left;
        img {
          width: 100%;
        }
      }
      .product-desc {
        width: 70%;
        float: right;
        .product-name {
          font-size: $font-size-large;
          margin-bottom: 5px;
          height: 42px;
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .product-tag {
          font-size: $font-size-base;
          color: $base-color;
          padding: 2px 5px;
          border: 1px solid $base-color;
        }
        .product-price {
          margin-top: 10px;
          .base-price {
            font-size: $font-size-xxxl;
            color: $base-color;
            margin-right: 15px;
          }
          .market-price {
            font-size: $font-size-large;
            color: $base-text-color2;
            text-decoration: line-through;
          }
        }
      }
    }
    .activity-btn {
      clear: both;
      width: 90%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto;
      background: $base-color;
      margin-top: 40px;
      font-size: $font-size-xxl;
      color: $white;
      border-radius: 3px;
    }
    .activity-hint {
      font-size: $font-size-base;
      padding: 10px 5%;
      color: #478FFB;
      .icon-hint {
        color: $base-text-color2;
        margin-right: 5px;
      }
    }
  }
}
