.myauth-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .myauth-item {
    @include clearfix();
    background: $white;
    margin-bottom: 8px;
    padding: 10px 0;
  }
}

.myauth-icon {
  width: 25%;
  height: auto;
  float: left;
  padding: 5px 15px;
}

.myauth-brief {
  position: relative;
  display: block;
  width: 75%;
  float: left;

  @include clearfix();

  .myauth-left {
    float: left;

    .myauth-title {
      font-size: $font-size-xxl;
      line-height: 38px;
    }

    .myauth-desc,
    .myauth-err {
      line-height: 30px;
    }

    .myauth-err {
      color: $base-color;
      line-height: 20px;
      margin-right: 10px;
    }
  }

  .myauth-right {
    position: absolute;
    font-size: $font-size-large;
    font-weight: $bold-font-weight;
    top: 0;
    right: 15px;
    width: 30%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    img {
      width: 100%;
      margin-top: -5px;
    }
  }

}

.myauth-note {
  width: 100%;

  p {
    width: 100%;
    padding: 0 10px;
    line-height: 20px;

    &.myauth-note-title {
      font-size: $font-size-xl;
    }
  }
}

//高级认证
.setting-table.auth-adv-container {
  width: 100%;
  background-color: #f2f2f2;
  .setting-table-cell.table-cell-rows {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    .second-row {
      width: 92%;
      background-color: #ffffff;
      margin-left: 4%;
      display: flex;
      margin-top: 15px;
      border: solid 1px #ccc;
      border-radius: 5px;
      .img-contain {
        -webkit-box-flex: 2.0;
        margin: 3%;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .second-row-text {
        box-flex: 4.0;
        -webkit-box-flex: 4.0;
        h2 {
          margin-top: 12%;
          margin-bottom: 0%;
          padding: 0;
          font-weight: normal;
          font-family: "黑体";
          font-size: 20px;
        }
        //span{
        //  font-size: 14px;
        //}
      }
      .iconfont.icon-right {
        box-flex: 1.0;
        -webkit-box-flex: 1.0;
        padding-right: 16px;
        font-size: 24px;
        padding-top: 5%;
        color: #999;
      }
      .authStatus {
        position: relative;
        right: -2%;
        height: 20%;
        background-color: #00b9ff;
        font-size: 12px;
        padding: 2px 3px;
        color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 6%;
      }
    }
  }
}

//学信信息认证/手机信息认证
.dialog-fullscreen {
  .blanknote-bottom-btn-wrapper.nextBtn {
    background-color: $base-color;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
  }
  .setting-table {
    .icon-eye {
      font-size: 20px;
      position: absolute;
      right: 7%;
      color: #999;
    }
    &.last-setting-table {
      bottom: 45px;
      top: 45px;
      overflow: auto !important;
    }
    .setting-table-title {
      width: 92%;
      margin-left: 4%;
      color: #999999;
      margin-bottom: 2%;
      margin-top: 2%;
      .setting-left.left {
        float: left;
      }
      .setting-right {
        float: right;
      }
    }
  }
  .dialog-content {
  }
  .llq-sys-notice-wrapper {
    margin-bottom: 24px;
  }
}

