.setting-table {
  .help-column {
    line-height: 30px;
  }

  .other {
    font-size: 14px;
  }

  .website{
    color:#ec1346;
  }

  .icon-help-stage {
    font-size: 20px;
    color: #57ffae;
    font-weight: bold;
  }

  .icon-help-buy {
    font-size: 20px;
    color: #57d2ff;
    font-weight: bold;
  }

  .icon-help-us {
    font-size: 20px;
    color: #f36a6e;
    font-weight: bold;
  }

  .icon-help-phone {
    font-size: 20px;
    color: #0eae12;
  }

  .icon-help-weixin {
    font-size: 22px;
    color: #0eae12;
  }
}

.text-desc {
  font-size: 12px;
  margin: 10px 15px;

  .first-title {
    font-size: 14px;
    color: #ec1346;
  }

  .second-title {
    font-size: 14px;
  }
}

.limit-desc {
  font-size: 12px;
  border: 1px solid #cccccc;
  text-align: center;
  margin: 20px 5px;

  .limit-cell {
    border: 1px solid #cccccc;
    width: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .cell-one {
    width: 15%;
  }

  .limit-desc-rem {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.help-guide{
  width: 100%;
  .guide-img{
    width: 100%;
  }
}

