<div class="pay-success-container" data-ng-if="true">
    <div class="ui-header-bar">

    </div>

    <div class="dialog-content pay-result-wrapper ios-overflow-scrolling-bug-fix blanknote-main" style="{{overflowBugFix}}">
        <div ng-if="payResult=='failed'" class="pay-result-icon-container failed">
            <span class="iconfont icon-clean"></span>
        </div>
        <div ng-if="payResult=='wait_pay_result'" class="pay-result-icon-container wait">
            <span class="iconfont icon-seckill"></span>
        </div>
        <div ng-if="payResult=='success'" class="pay-result-icon-container success">
            <span class="iconfont icon-selected"></span>
        </div>
            <div class="blanknote-applyTop">
                <div class="applyTop-icon" style="margin-bottom: 30px;">
                    <img src="../../../app/assets/imgs/security/imagePaySuccess.png"></span>
                </div>
                <div class="blanknote-applyBot" ng-if="payResult!='failed'">
                    <div class="title">订单金额</div>
                    <div class="icon">
                        <span data-ng-bind="paySuccess.amount | moneyFixed" class="textColor">¥</span>
                    </div>
                </div>
                <div class="blanknote-applyBot" ng-click="doApply('/security/main/bankWithhold?goBack=/product/paysuccess')">
                    <div class="title">自动代扣</div>
                    <div class="icon">
                        <span class="textColor" data-ng-if="!applyBotInfo">未开启</span>
                        <span class="textColor" data-ng-if="applyBotInfo">已开启</span>
                        <i class="iconfont icon-right-arrow"></i>
                    </div>
                </div>
            </div>
            <div class="applyTop-btn">
                <button class="btn-jilu" data-ng-click="paySuccess.gotoSuccess()"r>查看详情</button>
                <button class="btn-backshou" ng-click="paySuccess.gotoEnter()">返回首页</button>
            </div>
        <!--</div>-->
        <div class="block-brief pay-success">
            <div class="block-title">
                <div class="block-title-bg">
                    <div class="bg"></div>
                </div>
                <div class="block-text-center"><span class="title guess">猜你还喜欢</span></div>
            </div>

            <div class="block-content">

                <div class="block-content-inner grid-row" data-ng-repeat="row in items">
                    <div class="grid-item rows-item border-right"
                         ng-click="gotoProductDetail(row[0].productId,row[0].promotionId,'aging')">
                        <img data-ng-src="{{row[0].mainProImgUrl | filterImg: '@!300x300'}}" class="block-image"/>

                        <div class="block-text title large">{{row[0].name}}</div>

                        <div class="block-text center large">
                            <span class="goods-text-gray goods-text-small">月供</span>
                            <span class="goods-text-warn">{{row[0].defaultEveryAmount | moneyFixed}}</span>
                            <span class="period goods-text-gray">x{{row[0].defaultPeriod}}</span>
                        </div>
                        <div class="block-text center large">
                            <span class="goods-text-gray"> {{row[0].proSkuPrice | moneyFixed}}</span>
                            <span class="goods-text-gray goods-text-small goods-text-delete" style="margin-left: 5px;">
                                {{row[0].marketPrice | moneyFixed}}</span>
                        </div>
                    </div>
                    <div class="grid-item rows-item"
                         ng-click="gotoProductDetail(row[1].productId,row[1].promotionId,'aging')"
                         data-ng-if="row[1]">
                        <img data-ng-src="{{row[1].mainProImgUrl | filterImg : '@!300x300'}}"
                             class="block-image"/>

                        <div class="block-text title large">{{row[1].name}}</div>

                        <div class="block-text center large">
                            <span class="goods-text-gray goods-text-small">月供</span>
                            <span class="goods-text-warn">{{row[1].defaultEveryAmount | moneyFixed}}</span>
                            <span class="period goods-text-gray">x{{row[1].defaultPeriod}}</span>
                        </div>
                        <div class="block-text center large">
                            <span class="goods-text-gray"> {{row[1].proSkuPrice | moneyFixed}}</span>
                            <span class="goods-text-gray goods-text-small goods-text-delete" style="margin-left: 5px;">{{row[1].marketPrice | moneyFixed}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="pay-success-container pay-success-cash" data-ng-if="showCashContent">
    <div class="dialog-content pay-result-wrapper ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <div class="success-amount">
            <img src="../../../app/assets/imgs/pay/pay_success_cash.png"/>
            <div class="amount">
                订单金额:<span data-ng-bind="paySuccess.amount | moneyFixed"></span>
            </div>
        </div>
        <div class="button-box">
            <div class="pay-button" data-ng-click="paySuccess.gotoSuccess()">查看详情</div>
            <div class="pay-button" ng-click="paySuccess.gotoEnter()">返回首页</div>
        </div>
    </div>
    <div class="success-hint">
        <div class="hint-title">
            <div class="hint-line"></div>
            <div>放款通知</div>
            <div class="hint-line"></div>
        </div>
        <div class="hint-content">
            您的2000元创业金已经开始放款啦，请耐心等待，注意查收
        </div>
    </div>
</div>

<div ui-dialog class="share-dialog reverse red-share-container" overlay="true" close-by-overlay="true"
     is-visible="share.isVisible"
     z-index="560">
    <div class="share-pic-container">
        <img src="../../../app/assets/imgs/profile/red.png" class="bg-img">

        <div class="share-title" ng-bind="share.envelopeTitle"></div>
        <div class="share-brand-container">
            <ul>
                <li class="brand" style="float:right;" ng-click="shareFn('friend')">
                    <img src="../../../app/assets/imgs/profile/friend.png" alt="">
                </li>
            </ul>
            <ul>
                <li class="brand" style="float:left" ng-click="shareFn('weixin')">
                    <img src="../../../app/assets/imgs/profile/weixin.png" alt="">
                </li>
            </ul>
        </div>
        <button class="nav-hint single-row submit-btn" ng-click="share.closeDialog()">
            取消
        </button>
    </div>

</div>

<card-manager data-selected-fn="selectedCardFn">
</card-manager>