<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="addressDialog.isVisible" z-index="581">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="addressDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>收货地址</span>
            </div>
        </div>
        <div class="ui-header-bar-right-icon">
            <div class="ui-header-btn" ng-click="editAddressDialog.openDialog()">编辑</div>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}"
        ng-if="addressDialog.isAddressListEmpty()">
        <li class="setting-table-cell">
            <div class="second-column add-column" data-ng-click="addAddressDialog.openDialog(true)">
                +
            </div>
        </li>
    </ul>

    <ul class="setting-table dialog-content" ng-if="!addressDialog.isAddressListEmpty()">
        <li class="setting-table-cell" data-ng-repeat="item in addressDialog.items">
            <a data-ng-click="addressDialog.chooseAddress($index)">
                <div class="second-column">
                    <div class="setting-row-with-right-arrow">
                        <div class="product-receiver-title">
                            <span>收货人：</span>
                            <span>{{item.name}}</span>
                            <span style="margin-left: 10px;">{{item.phone}}</span>
                        </div>
                        <div class="product-receiver-subtitle">
                            <span>收货地址：</span>
                            <span>{{getFullAddress(item)}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

</div>

<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="editAddressDialog.isVisible" z-index="582">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="editAddressDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>编辑收货地址</span>
            </div>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}"
        ng-if="addressDialog.isAddressListEmpty()">
        <li class="setting-table-cell">
            <div class="second-column add-column" data-ng-click="addAddressDialog.openDialog(true)">
                +
            </div>
        </li>
    </ul>

    <div class="dialog-content fix-bottom-btn setting-table ios-overflow-scrolling-bug-fix"
         ng-if="!addressDialog.isAddressListEmpty()"
         style="{{overflowBugFix}}">
        <ul>
            <li class="setting-table-cell" data-ng-repeat="item in addressDialog.items">
                <a data-ng-click="addAddressDialog.modify(item)">
                    <div class="second-column">
                        <div class="setting-row-with-right-arrow">
                            <div class="product-receiver-title">
                                <span>收货人：</span>
                                <span>{{item.name}}</span>
                                <span style="margin-left: 10px;">{{item.phone}}</span>
                            </div>
                            <div class="product-receiver-subtitle">
                                <span>收货地址：</span>
                                <span>{{getFullAddress(item)}}</span>
                            </div>
                        </div>

                        <span class="iconfont icon-right-arrow"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="dialog-bottom-btn-wrapper" style="z-index: 585">
        <button class="nav-hint single-row submit-btn" ng-click="addAddressDialog.openDialog(true)">
            新增地址
        </button>
    </div>

</div>

<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="addAddressDialog.isVisible" z-index="583">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="addAddressDialog.closeDialog()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span data-ng-bind="addAddressDialog.getTitleText()"></span>
            </div>
        </div>

        <div class="ui-header-bar-right-icon">
            <div class="ui-header-btn" ng-click="addAddressDialog.save()">保存</div>
        </div>
    </div>

    <div class="dialog-content fix-bottom-btn setting-table ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <ul>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">收货人姓名</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="text" placeholder="请填写收货人姓名"
                               data-ng-model="addAddressDialog.item.name"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">联系电话</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="tel" placeholder="请填写联系电话"
                               data-ng-model="addAddressDialog.item.phone"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">省市区街道</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="text" readonly="readonly" placeholder="请选择省市区街道"
                               data-ng-click="pcaDialog.openDialog()"
                               data-ng-model="addAddressDialog.item.pca"/>
                    </div>
                </div>
            </li>
            <li class="setting-table-cell">
                <div class="second-column">
                    <div class="setting-left title">详细地址</div>
                    <div class="setting-left desc">
                        <input class="setting-input" type="text" placeholder="请填写详细地址"
                               data-ng-model="addAddressDialog.item.address"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="dialog-bottom-btn-wrapper" ng-if="!isEmpty(addAddressDialog.item.addressId)" style="z-index: 587">
        <button class="nav-hint single-row submit-btn" ng-click="addAddressDialog.del()">
            删除地址
        </button>
    </div>

</div>

<div ui-dialog class="dialog-fullscreen" overlay="true" close-by-overlay="true"
     is-visible="pcaDialog.isVisible" z-index="584">

    <div class="ui-header-bar">
        <div class="ui-header-bar-left-icon">
            <div class="iconfont header-bar-icon icon-back" ng-click="pcaDialog.goBack()"></div>
        </div>
        <div class="ui-header-bar-text">
            <div class="setting-left">
                <span>请选择{{pcaDialog.getItemsTitle()}}</span>
            </div>
        </div>
    </div>

    <ul class="setting-table dialog-content ios-overflow-scrolling-bug-fix" style="{{overflowBugFix}}">
        <li class="setting-table-cell" data-ng-repeat="item in pcaDialog.items">
            <a data-ng-click="pcaDialog.setValue(item)">
                <div class="second-column">
                    <div class="setting-left select-icon">
                        <span class="iconfont icon-collection" data-ng-if="pcaDialog.checkSelected(item)"></span>
                    </div>
                    <div class="setting-left">
                        <span>{{pcaDialog.getItemName(item)}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

</div>
