
<div class="aging-item" data-ng-class="{'selected': partTime.type=='do'}"
     data-ng-click="partTime.choseType('do','signed')">
    <div class="aging-order">待上岗</div>
</div>
<div class="aging-item" data-ng-class="{'selected': partTime.type=='pay'}"
     data-ng-click="partTime.choseType('pay','tasking')">
    <div class="aging-order">待结算</div>
</div>
<div class="aging-item" data-ng-class="{'selected': partTime.type=='all'}" data-ng-click="partTime.choseType('all')">
    <div class="aging-order">全部</div>
</div>

