<div class="aging-item" data-ng-class="{'selected': orderby.orderType=='city'}" data-ng-click="orderby.clickCity()">
    <div class="aging-order" data-ng-bind="intern.cityName"></div>
</div>
<div class="aging-item" data-ng-class="{'selected': orderby.orderType=='filter'}"
     data-ng-click="orderby.clickFilter()">
    <div class="aging-order" data-ng-bind="intern.filterName"></div>
</div>
<div class="aging-item" data-ng-class="{'selected': orderby.orderType=='smart'}"
     data-ng-click="orderby.clickSmart()">
    <div class="aging-order" data-ng-bind="intern.smartName"></div>
</div>
<div class="aging-item" data-ng-class="{'selected': orderby.orderType=='source'}"
     data-ng-click="orderby.clickSource()">
    <div class="aging-order" data-ng-bind="intern.sourceName"></div>
</div>
